<!DOCTYPE html>
<html>

  <head>
    <title>Timestamp Microservice | Backend Challenges | Free Code Camp</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>Timestamp Microservice</h1>
      <h3>Part 1 of Free Code Camp Backend Challenges</h3>
      <ol>
        <li>User Story: I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).</li>
        <li>User Story: If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
        <li>User Story: If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
      </ol>
      <h3>Example use</h3>
      <ul>
        <li><a href="/Jan%205,%202014"><code>https://&lt;host&gt;/Jan%205,%202014</code></a></li>
        <li><a href="/1388880000"><code>https://&lt;host&gt;/1388880000</code></a></li>
      </ul>
      <h3>Example response</h3>
      <code>{"unix":1388880000,"natural":"January 5, 2014"}</code>
    </div>
  </body>

</html>
